* {
	margin: 0;
}
.header {
	height: 45px;
	width: 100%;
	background: #c1cec0;
	position: absolute;
	text-align: center;
	line-height: 45px;
	color:  #010101;
	font-size: 24px;
}
.create_article {
	margin: 50px 0 0 40px;
}
.login {
	margin: 50px 0 0 60px;
	padding: 0 0 0 14px;
	position: absolute;
	height: 25px;
}
.auth {
	margin: 60px 0 0 20px;
}
.success {
	margin: 100px 0 0 40px;
}
.error {
	margin: 100px 0 0 40px;
}
.link {
	margin: 80px 0 0 40px;
	padding: 0 0 0 14px;
	position: absolute;
	width: 160px;
	height: 30px;
}
ol {
	counter-reset: li; 
	list-style: none; 
	font: 14px "Trebuchet MS", "Lucida Sans";
	padding: 0;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	margin-bottom: 100px;
}
ol a {
	position: relative;
	display: block;
	padding: .4em .4em .4em .8em;
	margin: .5em 0 .5em 2.5em;
	background: #D3D4DA;
	color: #444;
	text-decoration: none;
	transition: all .3s ease-out;
}
ol a:hover {
	background: #DCDDE1;
}       
ol a:before {
	content: counter(li);
	counter-increment: li;
	position: absolute;
	left: -2.5em;
	top: 50%;
	margin-top: -1em;
	background: #9097A2;
	height: 2em;
	width: 2em;
	line-height: 2em;
	text-align: center;
	font-weight: bold;
}
ol a:after {
	position: absolute;
	content: "";
	border: .5em solid transparent;
	left: -1em;
	top: 50%;
	margin-top: -.5em;
	transition: all .3s ease-out;
}
ol a:hover:after {
	left: -.5em;
	border-left-color: #9097A2;
}
li {
	margin: 10px 0 5px 20px;
}
.articles {
	width: 45%;
	margin-left: 5%;
	margin-top: 10%;
}
a {
	text-decoration: none;
	margin-right: 19px;
}
a:hover {
	text-decoration: none;
	color: #748c71;
}
h1 {
	margin: 50px 0 30px 0;
	text-align: center;
}
article {
	margin: 0 70px 0 70px;
	font-size: 110%;
	line-height: 1.3em;
	text-indent: 1.9em;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 70px;
	margin-top: 40px;
	line-height: 70px;
	color:  #010101;
	font-size: 24px;
	text-align: center;
	background: violet;
}
